*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



table, tr, th,td{
    align-items: center;
    text-align: center;   
}


body{
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:white;
    border: 2% solid black;
}

.conteiner{
    border: solid 1px, rgba(15, 182, 204, 0.411);
}

table{
   color: black; 
   font-size: 14px;
   table-layout: fixed;
   border-collapse: collapse;
}
 
thead{
    background: rgba(121, 9, 102, 0.692);
}

th{
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}

td{
    padding: 15px;
    border-bottom: solid 1px  rgba(255, 255, 255 , 0.2);
}

tbody tr{
    cursor:pointer;
}

tbody tr:hover{
    background: rgba(204, 152, 195, 0.692);

}